.container
  min-height: 100vh
  background: #04030e
  color: #fff
  padding: 2rem
  font-family: var(--font-body)

.header
  text-align: left

.grid
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 2rem
  max-width: 1400px
  margin: 0 auto

  @media (max-width: 1024px)
    grid-template-columns: 1fr

.card
  background: rgba(255, 255, 255, 0.03)
  border: 0.5px solid #51516f81
  box-shadow: inset 0px 1px 0px #112, inset 0px -3px 4px #1d1d2ab2
  border-radius: .5rem
  padding: 0 1rem 1.5rem
